<div class="nav">
    <h2 class="title"><a href="/member/index.html">我的春播</a></h2>
    <dl>
        <dt>交易管理</dt>
        <dd><a href="/order_info/index.html">我的订单</a></dd>
        <dd><a href="/favorite/index.html">我的心愿单</a></dd>
        <dd><a href="/member/thebuyproduct.html">已购商品</a></dd>
    </dl>
    <dl>
        <dt>账户中心</dt>
        <dd><a href="/member/info.html">个人信息</a></dd>
        <dd><a href="/member/security.html">账户安全</a></dd>
        <dd><a href="/invitation/index.html">分享基金</a></dd>
        <dd><a href="/points/index/type/3.html">我的积分</a></dd>
        <dd><a href="/coupons/index/type/5.html">我的春播券</a></dd>
        <dd><a href="/giftcard/index.html">我的春播卡</a></dd>
        <dd><a href="/balance/index/type/3.html">我的余额</a></dd>
    </dl>
    <!--
    <dl>
        <dt>社区中心</dt>
        <dd><a href="/review/share/type/1.html">晒单评价</a></dd>
    </dl>
    -->
</div>