{% extends "../layout.html" %}
{% block main %}
<link rel="stylesheet" href="http://static.chunboimg.com/css/my_chunbo.css">
<div class="wrap clearfix">
    {% include "./nav.html" %}
    <div class="content my_order">
        <div class="user_infro clearfix">
            <span class="photo"><img src="http://i3.chunboimg.com/{{ avatar_url }}" alt="{{ userInfo.nickname }}"></span>
            <div class="user_detail">
                <p class="member"><a class="name" href="javascript:;">{{ userInfo.nickname }}</a><!-- 普通会员 --></p>
                <p class="enter_time">{{ userInfo.reg_time | splitBirthday('-') }}加入春播</p>
                <p class="credits"><a href="/my/points" class="first">积分：{{ userInfo.points if userInfo.points else "0" }}积分（价值¥{{ userInfo.points/100 if userInfo else '0' }}元）</a><a href="/my/coupons">代金券：{{ coupons if coupons else '0' }}张</a><a href="/my/giftcards">春播卡：¥{{ giftCardBalance if giftCardBalance else "0.00" }}</a><a href="/my/balance">余额：¥{{ balance if balance else "0.00" }}元</a></p>
            </div>
        </div>
        {% include './orderList.html' %}

        <div class="collect my_collect">

            <div class="tab_wrap">
                <ul class="tab">
                    <li class="on first">
                        <a href="javascript:;">
                            我的心愿单
                        </a>
                    </li>
                </ul>
                <a href="/my/fav" class="check_all">
                    查看更多 》
                </a>
            </div>
            <div class="luobo_wrap tab_content">
                <a href="javascript:;" class="left_btn left_btn_disable" onclick="aLeft(this);">
                </a>
                <a href="javascript:;" class="right_btn" onclick="aRight(this)">
                </a>
                <div class="lunbo">
                    <ul class="clearfix">
                        <li>
                            <a href="/product/2871.html" class="img" target="_blank">
                                <img src="http://i2.chunboimg.com/group1/M00/01/60/Cv4IdVVMjd-AQlAYAAVAmeld02E209_120_120.jpg">
                            </a>
                            <p class="name">
                                肥瘦相间 香而不腻                     </p>
                            <h4>
                                <a href="/product/2871.html" target="_blank">
                                    家育草原香猪五花肉                        </a>
                            </h4>
                            <p class="price">
                                <strong>
                                    ¥ 29.80                        </strong>
                            </p>
                            <p class="num">
                                500g                    </p>
                        </li><li>
                        <a href="/product/3317.html" class="img" target="_blank">
                            <img src="http://i3.chunboimg.com/group1/M00/00/45/Cv4IbFS4otOAXdWqAAhbeMusoro606_120_120.jpg">
                        </a>
                        <p class="name">
                            欧盟标准 口感酸甜适中                    </p>
                        <h4>
                            <a href="/product/3317.html" target="_blank">
                                佳沛新西兰绿奇异果                        </a>
                        </h4>
                        <p class="price">
                            <strong>
                                ¥ 17.90                        </strong>
                        </p>
                        <p class="num">
                            4颗装                    </p>
                    </li><li>
                        <a href="/product/5077.html" class="img" target="_blank">
                            <img src="http://i2.chunboimg.com/group1/M00/00/04/Cv4IbFSlI8CAJpoIAA52O68JNbk528_120_120.jpg">
                        </a>
                        <p class="name">
                            高品质 不含防腐剂                    </p>
                        <h4>
                            <a href="/product/5077.html" target="_blank">
                                法国爱果士苹果草莓果泥                        </a>
                        </h4>
                        <p class="price">
                            <strong>
                                ¥ 22.90                        </strong>
                        </p>
                        <p class="num">
                            400g                    </p>
                    </li>        </ul>
                </div>
            </div></div>
        <div class="collect recent_browse">
            <div class="tab_wrap">
                <ul class="tab">
                    <li class="on first"><a href="javascript:;">最近浏览</a></li>
                    <li><a href="javascript:;">购买记录</a></li>
                    <li><a href="javascript:;">本周热销</a></li>
                </ul>
            </div>
            <div class="luobo_wrap tab_content" id="history_list" style="display: block;"></div>
            <div class="luobo_wrap tab_content" id="already_list" style="display: none;"></div>
            <div class="luobo_wrap tab_content" id="hot_list" style="display: none;"></div>
        </div>
        <input type="hidden" name="history_url" id="history_url" value="/my/history">
        <input type="hidden" name="hot_url" id="hot_url" value="/my/hot">
        <input type="hidden" name="already_url" id="already_url" value="/my/already">
    </div>
</div>
<script src="/{{ ua }}/public/js/my/common.js"></script>
{% endblock %}