<style>
  .no-log-tip{clear: both; text-align: center; padding: 50px}
</style>
<div class="order_show">
  <div class="tab_wrap">
    <ul class="tab-list-show">
      <li class="{% if (status == 0) %}on {% endif %}first"><a href="/my/{{ 'index' if isIndex else 'order' }}">我的订单</a></li>
      <li{% if (status == 1) %} class="on"{% endif %}><a href="/my/{{ 'index' if isIndex else 'order' }}?status=1">待付款（{{ orderCount.noPayCount if orderCount.noPayCount else '0' }}）</a></li>
      <li{% if (status == 2) %} class="on"{% endif %}><a href="/my/{{ 'index' if isIndex else 'order' }}?status=2">待发货（{{ orderCount.noDeliveryCount if orderCount.noDeliveryCount else '0' }}）</a></li>
      <li{% if (status == 3) %} class="on"{% endif %}><a href="/my/{{ 'index' if isIndex else 'order' }}?status=3">待收货（{{ orderCount.noArchiveCount if orderCount.noArchiveCount else '0' }}）</a></li>
      <li{% if (status == 4) %} class="on"{% endif %}><a href="/my/{{ 'index' if isIndex else 'order' }}?status=4">待评价（{{ orderCount.reviewCount if orderCount.reviewCount else '0' }}）</a></li>
    </ul>
    {% if isIndex %}
    <a href="/my/order" class="check_all">查看全部订单 》</a>
    {% endif %}
  </div>
  <div class="tab_content" style="display: block;">
    {% if (orderCount.noPayCount > 1 and (status == 1 or status == 0)) %}

    {% if (orderCount.noPayCount == 2 and orderList[0].isPause != 1 and orderList[1].isPause != 1) %}
    {% set is_combine_pay = 1 %}
    <p class="combine_pay">
    <a href="javascript:;" class="btn_checkbox  btn_checkbox_cur" id="Order_check_all"></a>
    <a href="javascript:;" class="border_btn " id="toPayAll" cbclick="11-11">合并并付款</a></p>
    {% endif %}
    {% endif %}
    {% if (orderList.length == 0) %}
    <p class="no-log-tip">暂无订单信息</p>
    {% endif %}
    {% for item in orderList %}
    {% if (item.isParent == 1 or not item.rootParentId) %}
    <div class="order_item">
      <h3 class="title">
        {% if (is_combine_pay and (item.orderStatus == 1) and (item.isPause != 1 and orderCount.noPayCount > 1)) %}
        <a href="javascript:;" class="btn_checkbox btn_checkbox_cur Order_check" style="margin-right:0;" value="{{ item.orderId }}"></a>
        {% endif %}
        
        <span>下单时间：{{ item.orderDate | splitBirthday() }}</span>
        <span>总价：¥{{ item.payMoney }}</span>
        {% set addr =  ([item.provinceName, item.cityName, item.countyName, item.custAddress] | join('')) %}
        <span>送至：{{ addr | subDoubleByte(24.5) }}</span>
        <span class="right">订单号：{{ item.orderId }}</span>
      </h3>
      {% if (item.orderDetailList.length > 0) %}
      <div class="status">
        <p class="status_title wait_to_send">
          {% if (item.orderStatus == 1) -%}
            {% if (item.isPause == 1) %}
              <span class="fr">订单取消中</span>
            {% else %}
              <span class="fr">待付款</span>
            {% endif %}
          {% elif (item.orderStatus == 2) %}
            待发货
          {% elif (item.orderStatus == 3) %}
            待收货
          {% elif (item.orderStatus == 4) %}
            {% if (item.rpflag == 1) %}
              已完成
            {% else %}
              待评价
            {% endif %}
          {% elif (item.orderStatus == 5) %}
            已取消
          {% elif (item.orderStatus == 6) %}
            配送失败
          {% elif (item.orderStatus == 7) %}
            已评价
          {%- endif %}
        </p>
        <p class="status_time">
          {% if (item.isShortWait == 1) %}
          预计送达时间：将于 {{ item.bookDate | splitBirthday() }} 后陆续发货
          {% else %}
          预计送达时间：{{ item.bookDate | splitBirthday() }}
          {% endif %}
        </p>
        {% if (item.orderStatus == 1 or item.orderStatus == 2 or item.orderStatus == 3) %}
          {% if (item.isPause == 0 and item.orderStatus == 1) %}
          <a href="javascript:void(0);" onclick="toPayBtn(this);" class="wait_pay_button toPay" value="{{ item.orderId }}">去付款</a>
          {% endif %}
        {% endif %}
          <div class="check_status">
            {% if(item.orderStatus == 1 and item.isPause == 0) %}
              <a href="/orderinfo/delorder/{{ item.orderId }}"
                 class="delOrder" onclick="return showDialog(this);">
                  取消订单
              </a>
              <!-- 删除确认框 -->
              <span class="pop_box">
                  <span class="msg">你确定要继续吗？</span>
                  <span class="pop_box_btns"><a href="" class="pop-cancue">取消</a><a href="/orderinfo/delorder/{{ item.orderId }}" class="btn_yes" onclick="return delOrder(this)">确定</a></span>
                  <span class="sj_icon"></span>
              </span>
            {% elif (item.orderStatus == 2 or item.orderStatus == 4) %}
              <a href="/my/getLogitics/{{ item.orderId }}" class="getLogitics">查看物流</a>|
            {% elif (item.orderStatus == 3) %}
              <a href="{:U('OrderInfo/finishOrder',array('order_id'=>$OrderVo['orderId']))}" onclick="return finishOrder(this)">确认收货</a>
              |
              <a href="/my/getLogitics/{{ item.orderId }}" class="getLogitics">查看物流 </a>|
            {% endif %}
            <a href="/my/orderDetail/{{ item.orderId }}">订单详情</a>
          </div>
        <div class="logistics_infor loading-m" style="display: none;">
          <p class="loading-txt">加载中，请稍后…</p>
        </div>
      </div>
      {% endif %}
    {% else %} 
      <div class="status">
          <p class="status_title wait_to_send">
            <span>包裹号：{{ item.orderId }}</span>
            {% if (item.orderStatus == 1) -%}
            未付款
            {% elif (item.orderStatus == 2) %}
              待发货
            {% elif (item.orderStatus == 3) %}
              待收货
            {% elif (item.orderStatus == 4) %}
              {% if (item.rpflag == 1) %}
                已完成
              {% else %}
                待评价
              {% endif %}
            {% elif (item.orderStatus == 5) %}
              已取消
            {% elif (item.orderStatus == 6) %}
              配送失败
            {% elif (item.orderStatus == 7) %}
              已评价
            {%- endif %}
          </p>
          {% if (item.orderStatus == 1) %}
            <a href="javascript:void(0);" onclick="toPayBtn(this);" class="wait_pay_button toPay" value="{{ item.orderId }}" cbclick="11-9">去付款</a>
            <p class="status_time">预计送达时间：{{ item.bookDate | splitBirthday() }} </p>
          {% elif (item.orderStatus == 2) %}
            <p class="status_time">预计送达时间：{{ item.bookDate | splitBirthday() }} </p>
          {% elif (item.orderStatus == 3) %}
            <p class="status_time">预计送达时间：{{ item.bookDate | splitBirthday() }} </p>
          {% endif %}
            <div class="check_status">
              {% if(item.orderStatus == 1 and item.isPause == 0) %}
                <a href="{:U('OrderInfo/delOrder',array('order_id'=>$OrderVo['orderId']))}"
                   class="delOrder" onclick="return showDialog(this);">
                    取消订单
                </a>
                <!-- 删除确认框 -->
                <span class="pop_box">
                    <span class="msg">你确定要继续吗？</span>
                    <span class="pop_box_btns"><a href="" class="pop-cancue">取消</a><a href="{:U('OrderInfo/delOrder',array('order_id'=>$OrderVo['orderId']))}" class="btn_yes" onclick="return delOrder(this)">确定</a></span>
                    <span class="sj_icon"></span>
                </span>
              {% elif (item.orderStatus == 2 or item.orderStatus == 4) %}
                <a href="{:U('Member/getLogitics',array('order_id'=>$OrderVo['orderId']))}" class="getLogitics">查看物流</a>|
              {% elif (item.orderStatus == 3) %}
                <a href="{:U('OrderInfo/finishOrder',array('order_id'=>$OrderVo['orderId']))}" onclick="return finishOrder(this)">确认收货</a>
                |
                <a href="{:U('Member/getLogitics',array('order_id'=>$OrderVo['orderId']))}" class="getLogitics">
                    查看物流
                </a>|
              {% endif %}
              <a href="/my/orderDetail/{{ item.orderId }}">包裹详情</a>
            </div>
          <div class="logistics_infor loading-m" style="display: none;">
            <p class="loading-txt">加载中，请稍后…</p>
            <span class="trigon_icon"><span></span></span>
          </div>
      </div>
    {% endif %}
      {% for i in item.orderDetailList %}
      {% if (i.isGift != 1) %}
      <ul class="item clearfix">
        <li class="item_pic">
          <a href="/product/{{ i.product_id }}.html" target="_blank">
            <img src='http://i2.chunboimg.com/{{ i.url | replace(".jpg", "_120_120.jpg", 1) }}' alt="{{ i.name }}">
          </a>
        </li>
        <li class="item_infor">
          <p class="item_title">{{ i.name }}</p>
          <p class="item_name">
            <a href="/product/{{ i.product_id }}.html" target="_blank">{{ i.subname }}</a>
          </p>
          {% for gift in item.orderDetailList %}
            {% if (gift.isGift and i.skuId == gift.srcSkuId) %}
              <p class="sub"><i class="i-txticon-red">赠品</i><a href="/product/{{ gift.product_id }}.html">{{ gift.name }}{{ gift.specifications }} ×{{ gift.skuNum }}</a></p>
            {% endif %}
          {% endfor %}
        </li>
        <li class="item_num">×{{ i.skuNum }}</li>
        <li class="item_price">¥{{ i.salePrice*i.skuNum }}</li>
        {% if (i.has_lot == 1 and item.orderStatus == 3 or item.orderStatus == 4 or item.orderStatus == 7) %}
        <li class="item_trace">
          <a href="/my/getInspection/skuId/{{ i.skuId }}/skuLot/{{ i.skuLotList[0].skuLot }}" onclick="return getInspection(this)">
              追踪检测情况
          </a>
        </li>
        {% endif %}
        <li class="item_trace show_goods">
          <div class="comment_pop_wrap">
            {% if (item.orderStatus == 4 or item.orderStatus == 7) %}
              {% if (i.is_review == 1) %}
              <a href="javascript:{void(0);}" data-order-id="{{ item.orderId }}" data-product-id="{{ i.product_id }}" class="green_a show_my_review">已晒单评价</a>
              <div id="review_pop_{{ item.orderId }}{{ i.product_id }}" class="comment_msg_box_top clearfix" style="display: none;">
                 <a href="" class="close_me"></a>
                <div class='review_img_list'></div>
                <div class="one_pic_right">
                    <div class="comment_msg_box_xx"></div>
                    <div class="comment_msg_box_time">
                        <!--<a href=""><i></i></a>-->
                        <span></span>
                    </div>
                </div>
                <span class="trigon_icon"><span></span></span>
              </div>
              {% else %}
              <a href="" class="Review" data-review="">晒单评价 赚积分</a>
              {% endif %}
            {% endif %}
            
            <a href="javascript:void(0);" onclick="add_cart_fly($(this),'http://i3.chunboimg.com/{{ i.url | replace('.jpg', '_120_120.jpg', 1) }}',{{ i.product_id }},1,{{ item.orderId }},0)" class="border_btn">再次购买</a>
          </div>
        </li>
      </ul>
      {% endif %}
      {% endfor %}
      {% if (item.child_end == 1) %}
    </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<script src="http://static.chunboimg.com/js/orderinfo/review.js"></script>
<script src="http://static.chunboimg.com/js/orderinfo/common.js"></script>
<script src="http://static.chunboimg.com/js/my_chunbo.js"></script>
<script src="http://static.chunboimg.com/js/orderinfo/dialog-plus-min.js"></script>