<!-- login box -->
{# sdfsf #}
{% if logined %}
    <div class="login_popup" >
        <h3 class="title">登录春播</h3>
        <a href="javascript:;" class="cross"></a>
        <p class="error_line"></p>
        <div class="clearfix login_content">
            <div class="left">
                <p class="line" style="margin-top:0;">
                    <input type="text" class="input_text validateEmailorMobile" name="username"  placeholder="请输入您的手机号/邮箱" value="{:cookie('user')}"></p>
                <p class="line input_infor">
                    <input type="password" class="input_text validateLen" value="" name="password" placeholder="请输入密码"></p></p>
                <input type="hidden" name="login_url" id="login_url" value="{:U('Login/login')}">
                <input type="hidden" name="redirect_url" value="{:I('get.redirect_url')}" id="redirect_url">
                <input type="hidden" name="form_token" value="{$form_token}">
                <p class="line"><a href="" class="confirm_btn" id="login">登录</a></p>
                <p class="line"><a href="" class="btn_checkbox btn_checkbox_cur" id="keepLogin"></a>记住我<a href="{:U('ForgetPwd')}" class="forget">忘记密码</a></p>
            </div>
            <div class="right">
                欢迎您注册春播，春播是您安心健康食品的网购首选！
            </div>
        </div>
        <p class="login_now">还不是春播会员？<a href="{:U('regMobile')}">立即注册</a></p>
    </div>
{% endif %}
{# sdfsf #}
<div class="footer">
    <div class="footer_inner">
        <a href="/" class="footer_logo"><img src="http://static.chunboimg.com/images/footer_logo.jpg" alt="春播"></a>
        <p class="footer-callcenter">400-888-8878 <small>周一至周日 8:00-22:00</small></p>
        <div class="footer_list">
            <ul class="clearfix">
                <li>
                    <dl>
                        <dt>关于春播</dt>
                        <dd><a href="/Welcome/index" target="_blank">关于春播</a></dd>
                        <dd><a href="/HelpCenter/index/content_id/56" target="_blank">春播招聘</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>购物指南</dt>
                        <dd><a href="/HelpCenter/index/content_id/59" target="_blank">注册账号</a></dd>
                        <dd><a href="/HelpCenter/index/content_id/34" target="_blank">购物流程</a></dd>
                        <dd><a href="/HelpCenter/index/content_id/69" target="_blank">春播积分</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>配送方式</dt>
                        <dd><a href="/HelpCenter/index/content_id/40" target="_blank">送达时间</a></dd>
                        <dd><a href="/HelpCenter/index/content_id/42" target="_blank">验货签收</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>支付方式</dt>
                        <dd><a href="/HelpCenter/index/content_id/43" target="_blank">线上支付</a></dd>
                        <dd><a href="/HelpCenter/index/content_id/63" target="_blank">春播卡</a></dd>
                        <dd><a href="/HelpCenter/index/content_id/44" target="_blank">退款方式时间</a></dd>
                        <dd><a href="/HelpCenter/index/content_id/65" target="_blank">关于发票</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>售后服务</dt>
                        <dd><a href="/HelpCenter/index/content_id/48" target="_blank">退换货政策</a></dd>
                        <dd><a href="/HelpCenter/index/content_id/49" target="_blank">联系客服</a></dd>
                        <!-- <dd>4008-888-878</dd> -->
                    </dl>
                </li>
                <li class="guanzhu">
                    <dl>
                        <dt>关注春播</dt>
                        <dd><a href="http://weibo.com/u/5441211252" target="_blank"><span class="weibo"></span>微博账号</a></dd>
                        <dd><a href="http://weibo.com/u/5441211252" target="_blank"><span class="app"></span>手机春播</a></dd>
                    </dl>
                </li>
                <li class="erweima">
                    <dl>
                        <dt>扫扫关注春播微信</dt>
                        <dd><img src="http://static.chunboimg.com/images/erweima.jpg" alt=""></dd>
                    </dl>
                </li>
                <li class="app-erweima">
                    <dl>
                        <dt>扫扫下载手机春播</dt>
                        <dd><img src="http://static.chunboimg.com/images/erweima.jpg" alt=""></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="copy_right">
            <p style="color:#91afc6;">©2015 北京春播科技有限公司版权所有，并保留所有权利。</p>
            <p style="color:#91afc6;">
                <a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP证140641号</a>
                &nbsp; 京公网安备11010802016828号&nbsp; 食品流通许可证SP1102281410063295
            </p>
        </div>
    </div>
</div>