<link rel="stylesheet" href="{{ public }}css/style.css">
<link rel="stylesheet" href="http://static.chunboimg.com/css/ui-dialog.css">
<link rel="stylesheet" href="http://static.chunboimg.com/css/plugins/dui.css?v=20150632007700">
<link rel="stylesheet" href="http://static.chunboimg.com/css/style.css"/>
<script src="{{ public }}js/jquery-1.8.3.min.js"></script>
<script src="http://static.chunboimg.com/js/header.js"></script>
<script src="http://static.chunboimg.com/js/common/common.js"></script>
<script src="http://static.chunboimg.com/js/plugins/dui.js?v=20150632007700"></script>